:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro', 
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

  --main-bg-color: #f9f6e7;
  --secondary-bg-color:#003049;
  --text-primary: #010101;
  --accent-primary: #ff5252;
  --accent-secondary: #99bbad;


  /* card border, border, primary button, tile, form */



}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #FFFFFF;
    --background-start: #000000;
    --background-end:  #000000;

    --primary-glow: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0));
    --secondary-glow: linear-gradient(
      to bottom right,
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0.3)
    );

    
   
}
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: #f9f6e7;
}

body {
  color: (var(--main-bg-color));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

a {
  color: inherit;
  text-decoration: none;
}
h1 {
  font-family: 'robotoMono', monospace;
  font-weight: 600;
}

h2 {
  font-family: 'interTight', sans-serif;
  font-weight: 400;
  font-size: 1.75rem;
}

p {
  font-family: 'raleway', sans-serif;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
