.title {
    font-family: 'RobotoMono', monospace;
    font-weight: 600;
    padding: 1.75rem;
}


.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container p {
    font-weight: 300;
    padding: 5px;
}